input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.select {
    background-color: transparent;
    border: 1px solid rgba(white, .3);
    text-align: left;
    padding: 0 15px;
    position: relative;
    width: 100%;
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        /* IE10+ CSS styles go here */
        position: inherit;
        &::before {
            display:none;
        }
        select option {
            color: #000 !important;
        }
    }
    @-moz-document url-prefix() {
        position: inherit;
        &::before {
            display:none;
        }
    }
    @extend .u-transition;

    &::before {
        @extend .u-material-icons;
        content: 'keyboard_arrow_down';
        position: absolute;
        right: 0;
        padding-top: 10px;
        margin: 0 auto 0 auto;
        width: 42px;
        height: 32px;
        color: white;
        z-index: 1;
        pointer-events: none;
    }

    select {
        height: 42px;
        border: 0;
        border-radius: 0;
        margin: 0;
        background-color: transparent;
        width: 100%;
        -webkit-appearance: none;
        background-image: none;
        &:focus {
        }
    }

    &:hover {
        background-color: rgba(white, .2);
        @extend .u-transition;
    }
}

.form--google.form--google.form--google.form--google.form--google.form--google.form--google.form--google.form--google.form--google.form--google.form--google {
  ::-webkit-input-placeholder {
        color: rgba(white, .6);
        text-align: left;
    }
    :-moz-placeholder {
        color: rgba(white, .6);
        text-align: left;
    } /* Firefox 18- */
    ::-moz-placeholder {
        color: rgba(white, .6);
        text-align: left;
    } /* Firefox 19+ */
    :-ms-input-placeholder {
        color: rgba(white, .6);
        text-align: left;
    }

  max-width: 700px;
  margin: 0 auto;
  text-align: left;
  font-size: 1.2rem;

  ol, ul, li { list-style-type: none; }

  .ss-form-entry {
    margin-bottom: 30px;
  }

  .ss-q-title {
    > label { display: inline; }
  }

  .other__wrapper {
    width: calc( 100% - 10px) !important;
    display: flex;
    flex-wrap: nowrap;

    > label { flex: 0; }
    > .ss-q-other-container {
      flex: 1;
      width: inherit;
    }

  }

  .ss-choices[role="radiogroup"] {
    padding: 0;
    cursor: pointer;

    .ss-choice-item {
      margin: 5px 5px 5px 0;
      padding: 0 10px 1px 0;
      border: 1px solid rgba(white, .3);
      cursor: pointer;

      * {
        cursor: pointer;
      }

      @include breakpoint(780px) {
        width: calc(50% - 10px);
        display: inline-block;
      }

      input[type="radio"],
      input[type="checkbox"] {
        cursor: pointer;
        display: inline-block;
        margin-right: 15px;
        margin-left: 5px;
      }

      input[type="checkbox"]:before,
      input[type="radio"]:before {
        @extend .u-material-icons;
        margin-top: -14px;
        margin-left: -5px;
        background-color: $blue;
        padding: 7px;
        color: white;
      }

      input[type="radio"]:before { content: 'radio_button_unchecked'; }
      input[type="radio"]:checked:before { content: 'radio_button_checked'; }
      input[type="checkbox"]:before { content: 'check_box_outline_blank'; }
      input[type="checkbox"]:checked:before { content: 'check_box'; }

      .ss-choice-label {
        padding: 7px 7px 0 17px;
        display: inline-block;
      }
    }
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    margin-bottom: 2px;
    background-color: transparent;
    border: 1px solid rgba(white, .3);
    text-align: left;
    width: 100%;
    padding: 10px 15px;
    @extend .u-transition;

    &:focus {
      border-color: white;
    }
  }

  .required-message {
    font-size: .8rem;
    font-style: italic;
    text-align: right;
  }

  .goog-inline-block {
    display: inline-block;
  }

  .ss-q-other-container {
    margin: 0 0 0 4px;
    padding: 0;
    width: calc(100% - 78px);

    > label {
      width: 0;
    }

    // width: calc(100% - 215px);
    input { 
      border-width: 0 ;
      border-bottom: 1px dotted rgba(white, .3);
      padding: 1px 15px 1px 5px;
      margin-left: -23px;
    }
  }

  .tracks-question, .big-picture-items, .action-items, .impact-items, .format-question {
    .ss-choice-item {
      @include breakpoint(780px) {
        width: calc(100% - 10px) !important;
        display: block;
      }
    }
  }

  .big-picture-items,
  .action-items,
  .impact-items {
    display: none;

    &.js-active {
      display: block;
    }

    .ss-q-title {
      font-size: 1.3rem;
      text-transform: uppercase;
      font-weight: 600;
    }
  }


  #ss-submit {
    @extend .button;
    background-color: transparent;
  }

.ss-secondary-text {
  small {
  font-style: italic;
  opacity: .6;
  }
}

.participants {
  position: relative;

  #participants-add {
    position: absolute;
    right: -40px;
    bottom: 13px;
    width: 40px;
    height: 40px;
    padding: 3px 3px 2px;
    border: 1px solid transparent;
    border-radius: 50%;
    @extend .u-transition;

    &:hover {
      color: white;
      border: 1px solid white;
      
    }

    i { font-size: 2rem; }
  }

  table {
    width: 100%;

  }

  th {
    font-size: 1rem;
    text-transform: uppercase;
    opacity: .7;
    letter-spacing: 1px;
  }

  tr {
    
  }

  td {
    padding-right: 10px;
    padding-bottom: 10px;
    width: 24%;
  }
}

.ss-navigate {
  overflow: hidden;
}

#navigation-table {
  float: right;
}














  // .checkbox,
  // .radio {
  //     padding:7px 10px;
  //     margin-bottom: 10px;

  //     input[type="checkbox"] + label:before,
  //     input[type="radio"] + label:before {
  //         vertical-align: -6px;
  //         margin-right: 15px;
  //     }

  //     input[type="checkbox"] + label:before {
  //         @extend .u-material-icons;
  //         content: 'check_box_outline_blank';
  //     }

  //     input[type="checkbox"]:checked + label:before {
  //         @extend .u-material-icons;
  //         content: 'check_box';
  //     }

  //     input[type="radio"] + label:before {
  //         @extend .u-material-icons;
  //         content: 'radio_button_unchecked';
  //     }

  //     input[type="radio"]:checked + label:before {
  //         @extend .u-material-icons;
  //         content: 'radio_button_checked';
  //     }
  // }
}