.long-text {
  text-align: left;
  font-size: 1.2rem;
  p { font-weight: 300; }

  @include breakpoint($medium-up) {
    font-size: 1.6rem;
    font-weight: 200;
  }

  &--long-text--negative { color: white; }

  a { color: $accent; }
  a:hover {
    background-color: rgba($accent, .6);
    color: white;
  }

  &__highlight {
    font-weight: bold;
    background-color: rgba($accent, .6);
    font-weight: 800;
  }

  p + p {
    margin-top: 15px;
  }

  h2 {
    margin-bottom: 20px;
    line-height: 1.4;
    font-weight: bold;
  }

  ul {
    border-top: 1px solid rgba($accent, 1);
    padding: 0;

    li {
      padding: 10px 0;
      border-bottom: 1px solid rgba($accent, 1);
      list-style: none;
      font-weight: 300;
    }
  }

  strong {
    @include breakpoint($medium-up) { font-weight: 400; }
  }

}

.timeline {
  h3 { margin-bottom: 0; }
  p { margin: 5px 0; }
}

.main-objectives {
  @include breakpoint($medium-up) {
    display: flex;
    margin: 50px 0;
  }

  div {
    font-size: 3rem;
    margin: 20px auto;
    text-align: center;
    font-weight: 100;
    padding:  3px 20px;
    border: 1px solid $accent;
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }

  li {
    @include breakpoint($medium-up) { flex: 1; }
  }

  li:nth-child(2) {
    @include breakpoint($medium-up) { margin: 0 30px; }
  }
}

.cfp.long-text {
    ul {
        list-style-type: decimal;
        border: none;
        padding: 0 40px;
    }
    li {
        list-style: decimal;
        border: none;
    }
    li ul {
        list-style-type: circle;
        border: none;
    }
    li li {
        list-style: circle;
        border: none;
        font-size: smaller;
        padding: 4px 0;
    }
}