.main-menu {
  padding-bottom: 35px;
  position: relative;
  z-index: 2;
}

.button {
  display: block;
  border: 1px solid white;
  margin-bottom: 10px;
  padding: 7px;
  text-align: center;
  font-size: 1.3rem;
  color: white;
  text-transform: uppercase;

  @include breakpoint($medium-up) {
    display: inline-block;
    padding: 20px 30px;
    margin: 10px;
    font-size: 1.3rem;
  }

  &:hover {
    border-color: $accent;
    color: white;
    background-color: rgba($accent, .1);
  }
}

