.partners {
  text-align: center;
  display: flex;
  @include breakpoint($small-only) { flex-direction: column; }

  &__logo {
    @include breakpoint($medium-up) { display: inline-block; }
    margin-bottom: 50px;
    opacity: 1;
    
    @include breakpoint($medium-up) {
      margin: 30px 20px;
      text-align: center;
    //   &:hover { opacity: 1; }
    }
    
    img { 
      max-height: 50px; 
      @include breakpoint($medium-up) { 
        // max-height: 70px; 
        max-height: 4vw; 

      }
    }
  }

  &--worldbank { max-width: 75%; }
  &--argentina { max-height: 60px; }
  
}