body {
  background-color: #0e0f13;
  //  to 3B88E4

}

main {
  color: white;
  font-family: 'proxima-nova', sans-serif;
}



a {
  text-decoration: none;
  transition: 0.5s all;
}

h2 {
  font-weight: 400;
  font-size: 1.8rem;
}

.bg {
  background-image: url(' {{"/images/bg.jpg" | relative_url }}'), linear-gradient(#25568F, #3B88E4);
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
}

.wrapper {
  padding: 0 40px;
  text-align: center;
}

.section {
  border-top: 1px dotted white;
  padding: 30px 0;

  @include breakpoint($medium-up) {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
  }

  > * { margin: 0; }

  > * + * { margin-bottom: 10px; }
}

.wrapper-fixer {
    .help-block > p,
    input,
    a {
        color: white;
    }
    div.md-preview {
        color: black;
    }
}

#participants-template {
    display: none;
}